/* CSS Document */

img {
  align: center
  width=100%
  margin-left:20%;
  margin-right:20%
  float: right
  }

h2 {
  color:#666;
  font-size:100%;
  border-bottom:1px dashed #999;
  margin:15px 0 5px 0;
  padding-bottom:5px;
  }

body {
  margin:3%;
  padding:0;
  text-align: justify;
  font:x-small Verdana,Sans-serif;
  #voice-family: "\"}\""; voice-family:inherit;
  font-size:small;
  margin-left:20%;
  margin-right:20%
  }

hebrew {
  text-align: right dir=rtl
  }
 
td { 
    font:x-small Verdana,Sans-serif;
    font-size:small; 
}